In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('../../1_datasets/synthetic_retail_data.csv', parse_dates=['Date'], index_col='Date')
data.head()

,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
Date,,,,,,,,,,,,,,
2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

In [5]:
data['Store ID'].unique()

array(['S001', 'S002', 'S003', 'S004', 'S005'], dtype=object)

In [23]:
all_stores_grouped = data.groupby('Store ID')
store_01 = all_stores_grouped.get_group("S001").drop("Store ID", axis=1)
store_02 = all_stores_grouped.get_group("S002").drop("Store ID", axis=1)
store_03 = all_stores_grouped.get_group("S003").drop("Store ID", axis=1)
store_04 = all_stores_grouped.get_group("S004").drop("Store ID", axis=1)
store_05 = all_stores_grouped.get_group("S005").drop("Store ID", axis=1)

In [25]:
import os
directory_path = "../../1_datasets/processed_data"
if os.path.exists(directory_path):
    print("Directory Exists")
else:
    os.makedirs(directory_path)
store_01.to_csv(f"{directory_path}/store_01.csv")
print("Store_01 File Saved")

store_02.to_csv(f"{directory_path}/store_02.csv")
print("Store_02 File Saved")

store_03.to_csv(f"{directory_path}/store_03.csv")
print("Store_03 File Saved")

store_04.to_csv(f"{directory_path}/store_04.csv")
print("Store_04 File Saved")

store_05.to_csv(f"{directory_path}/store_05.csv")
print("Store_05 File Saved")

Directory Exists
Store_01 File Saved
Store_02 File Saved
Store_03 File Saved
Store_04 File Saved
Store_05 File Saved